:host {
  display: block;
}

.app-title {
  margin: 0;
  color: #e9f1ff;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.app-title--left {
  text-align: left;
}

.app-title--center {
  text-align: center;
}

.app-title--right {
  text-align: right;
}
