:host {
  display: block;
}

.app-text {
  margin: 0;
  color: #dbe7ff;
  font-size: 0.95rem;
  line-height: 1.45;
}

.app-text--muted {
  color: #8ca0c2;
}

.app-text--left {
  text-align: left;
}

.app-text--center {
  text-align: center;
}

.app-text--right {
  text-align: right;
}
